# Tarea Pandas
## David Montero Loaiza

### Archivo CSV

In [0]:
import pandas as pd

In [0]:
centroidesURL = "https://raw.githubusercontent.com/davemlz/Master_of_DataScience/master/Modelos_de_Datos/Pandas/Tarea%20Pandas/Centroides_NucleosPoblacion.csv"

centroides = pd.read_csv(centroidesURL)

In [3]:
centroides

     FID  OBJECTID      Cod_INE  ...           Provincia          X          Y
0      0         1  35002000101  ...          Las Palmas -15.446012  27.900542
1      1         2  35003000201  ...          Las Palmas -14.013301  28.418966
2      2         3  35004000301  ...          Las Palmas -13.551451  28.960649
3      3         4  35006000202  ...          Las Palmas -15.521512  28.117496
4      4         5  35009000303  ...          Las Palmas -15.654111  28.143873
..   ...       ...          ...  ...                 ...        ...        ...
847  847       848  30030000108  ...              Murcia  -1.124304  37.979033
848  848       849  30030000124  ...              Murcia  -1.202069  37.984024
849  849       850  30030000126  ...              Murcia  -1.130564  37.995715
850  850       851  45168000102  ...              Toledo  -3.948364  39.866699
851  851       852  12040000102  ...  Castelló/Castellón   0.012911  39.973568

[852 rows x 11 columns]

#### ¿Cuántos Municipios tienen más de 100000 habitantes?. ¿Cuál es la segunda ciudad más poblada?. ¿Qué posición ocupa Granada en el ranking de las más pobladas?.

In [27]:
# MUNICIPIOS CON MAS DE 100000 HABITANTES
municipios = centroides[centroides['Poblacion'] > 100000][['Municipio','Poblacion']].sort_values('Poblacion',ascending = False)
mun

# TOTAL DE MUNICIPIOS CON MAS DE 100000 HABITANTES
municipios.shape[0]

# SEGUNDA CIUDAD MAS POBLADA
municipios.iloc[1,:]

# POSICION DE GRANADA EN EL RANKING

Municipio      Barcelona
Poblacion    1.61934e+06
Rank                  61
Name: 623, dtype: object

#### Escriba los nombres de los 10 municipios con menos población.

#### ¿Cuántos municipios de León tienen más de 6000 habitantes?.

#### ¿Cuál es el municipio situado más al Norte? (Usar el valor de la coordenada "Y" que representa la latitud en grados). Proporcione también la provincia a la que pertenece y su población.

#### ¿Cual es el municipio de la provincia de Cantabria situado más al Este?. ¿Cual es el situado más al Oeste?

#### Dígame los nombres de los Municipios más cercano y más lejano a Madrid. Para ello debe calcular la distancia en todos ellos y Madrid. Por supuesto, Madrid no cuenta.

#### ¿Cuántos Municipios hay en un radio de 5 grados de la ciudad de Barcelona?.

#### Obtenga la media, mediana, desviación estándar, valor máximo y valor mínimo de la población de los municipios de la provincia de Cantabria.

#### Usando los métodos de agregación, calcular las poblaciones de cada provincia.

#### Dibujar el valor de la población para las diferentes ciudades (usar las funciones vistas en MatPlotLib).

#### Hacer un gráfico equivalente pero para las diferentes provincias. Seleccionar un punto representativo de las ciudades incluidas en cada provincia.

### Series Temporales

#### Obtener y exporta en csv los datos asociados a las series mensuales, estacionales y anuales

#### Dibujar la serie temporal asociada al promedio espacial de los datos mensuales, estacionales y anuales.

#### Dibujar la distribución espacial de las estaciones, así como los valores promedio y máximo.

#### Calcular la frecuencia de días con precipitaciones mayores (>) de 1 mm.