In [1]:
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/davemlz/Master_of_DataScience/master/Modelos_de_Datos/Pandas/intro/venia-docenci/pandas/populations.txt',
              sep ='\t',
              names=['year','hare','lynx','carrot'],
              index_col='year',
              skiprows=1)

df.head()

         hare     lynx  carrot
year
1900  30000.0   4000.0   48300
1901  47200.0   6100.0   48200
1902  70200.0   9800.0   41500
1903  77400.0  35200.0   38200
1904  36300.0  59400.0   40600

In [2]:
df.mean()

hare      34080.952381
lynx      20166.666667
carrot    42400.000000
dtype: float64

In [3]:
df.std()

hare      21413.981859
lynx      16655.999920
carrot     3404.555771
dtype: float64

In [11]:
df[df == df.max()].dropna(how = "all").index

Int64Index([1900, 1903, 1904], dtype='int64', name='year')

In [15]:
df.max(1)

year
1900    48300.0
1901    48200.0
1902    70200.0
1903    77400.0
1904    59400.0
1905    41700.0
1906    38600.0
1907    42300.0
1908    44500.0
1909    42100.0
1910    46000.0
1911    46800.0
1912    57000.0
1913    76600.0
1914    52300.0
1915    51100.0
1916    36700.0
1917    41800.0
1918    43300.0
1919    41300.0
1920    47300.0
dtype: float64