# Billionaires

`conda install sqlite sqlalchemy`

Source: https://corgis-edu.github.io/corgis/csv/billionaires/

SQLAlchemy: https://docs.sqlalchemy.org/en/13/core/connections.html

In [0]:
import numpy as np
import pandas as pd

In [0]:
bill = pd.read_csv("https://corgis-edu.github.io/corgis/datasets/csv/billionaires/billionaires.csv")

## All rows where company is Microsoft or Zara

In [16]:
bill[bill['company.name'].isin(['Microsoft','Zara'])]

                    name  ...  wealth.how.was political
0             Bill Gates  ...                      True
1             Bill Gates  ...                      True
2             Bill Gates  ...                      True
7             Paul Allen  ...                      True
8         Amancio Ortega  ...                      True
36            Paul Allen  ...                      True
37        Steven Ballmer  ...                      True
107        Steve Ballmer  ...                      True
129       Amancio Ortega  ...                      True
167           Paul Allen  ...                      True
197       Steven Ballmer  ...                      True
690   Sandra Ortega Mera  ...                      True
1421     Charles Simonyi  ...                      True
2263     Charles Simonyi  ...                      True

[14 rows x 22 columns]

## Number of times each person appears in the database in descending order

In [34]:
bill.groupby('name').count().sort_values('rank',ascending = False)

                    rank  ...  wealth.how.was political
name                      ...
Steven Spielberg       3  ...                         3
Rupert Murdoch         3  ...                         3
Eli Broad              3  ...                         3
Ryoichi Jinnai         3  ...                         3
Jacques Servier        3  ...                         3
...                  ...  ...                       ...
Hu Kaijun              1  ...                         1
Howard Schultz         1  ...                         1
Howard Marks           1  ...                         1
Horst Paulmann         1  ...                         1
Zygmunt Solorz-Zak     1  ...                         1

[2077 rows x 21 columns]

## Top ten sectors (by frequency appereance in the dataset)

In [39]:
bill.groupby('company.sector').count().sort_values('name',ascending = False).head(10)

                 name  rank  ...  wealth.how.was founder  wealth.how.was political
company.sector               ...
real estate       177   177  ...                     177                       177
retail            120   120  ...                     120                       120
media             117   117  ...                     117                       117
construction       96    96  ...                      96                        96
banking            93    93  ...                      93                        93
pharmaceuticals    76    76  ...                      76                        76
oil                74    74  ...                      74                        74
software           67    67  ...                      67                        67
hedge funds        50    50  ...                      50                        50
technology         36    36  ...                      36                        36

[10 rows x 21 columns]

## SQL IO

Create a database called 'billionaries' using sqlite and save the data from the dataframe using the appropiate tables. Save the information of people, companies and the relationship between people and companies (ie. company.relationship). Use the functions viewed in class.

In [0]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///billionaries.db')

Extract necessary information:

In [71]:
peopleColumns = ['name']
relationshipColumns = ['rank','year','company.relationship','location.country code', 'location.gdp', 'location.region',
                       'wealth.type', 'wealth.worth in billions', 'wealth.how.category','wealth.how.from emerging',
                       'wealth.how.industry','wealth.how.inherited','wealth.how.was founder','wealth.how.was political']
companiesColumns = ['company.founded', 'company.name','company.sector', 'company.type']

people = bill.loc[:,peopleColumns].drop_duplicates().reset_index()
companies = bill.loc[:,companiesColumns].drop_duplicates().reset_index()

len(companies)

1662

Rename columns:

In [53]:
bill.columns

Index(['name', 'rank', 'year', 'company.founded', 'company.name',
       'company.relationship', 'company.sector', 'company.type',
       'demographics.age', 'demographics.gender', 'location.citizenship',
       'location.country code', 'location.gdp', 'location.region',
       'wealth.type', 'wealth.worth in billions', 'wealth.how.category',
       'wealth.how.from emerging', 'wealth.how.industry',
       'wealth.how.inherited', 'wealth.how.was founder',
       'wealth.how.was political'],
      dtype='object')

Save to the database:

Test query

```
sqlite> select count(*) from people inner join positions on people."index" = positions.person_id inner join companies on positions.company_id=companies."index";
count(*)
2102
```