# Billionaires

`conda install sqlite sqlalchemy`

Source: https://corgis-edu.github.io/corgis/csv/billionaires/

SQLAlchemy: https://docs.sqlalchemy.org/en/13/core/connections.html

In [ ]:
import numpy as np
import pandas as pd

## All rows where company is Microsoft or Zara

## Number of times each person appears in the database in descending order

## Top ten sectors (by frequency appereance in the dataset)

## SQL IO

Create a database called 'billionaries' using sqlite and save the data from the dataframe using the appropiate tables. Save the information of people, companies and the relationship between people and companies (ie. company.relationship). Use the functions viewed in class.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///billionaries.db')

Extract necessary information:

Rename columns:

Save to the database:

Test query

```
sqlite> select count(*) from people inner join positions on people."index" = positions.person_id inner join companies on positions.company_id=companies."index";
count(*)
2102
```