In [ ]:
###importo sqlite3
import sqlite3
##importo numpy (para generar los numeros aleatorios)
import numpy as np
##importo random para hacer el sample
import random

In [ ]:
conn = sqlite3.connect('LibreriaBritanica.db')
c = conn.cursor()

##borramos la tabla si esta previamente creada
c.execute('''Drop  table if exists Book''')
# Creamos la tabla
c.execute('''CREATE TABLE Book
             (idBook integer PRIMARY KEY, title VARCHAR(245), authors text, publisher VARCHAR(45), year integer
             , price VARCHAR(45), isbn VARCHAR(13));''')
conn.commit()

In [ ]:
##importo fakes que genera informacion para python
from faker import Faker

In [ ]:
##faker en ingles(britanico)
fake = Faker('en_GB')

##insertamos informacion en la base de datos(10 campos)
for b in range(1,21):
    libro = b
    titulo = fake.sentence()
    autor = fake.name()
    editorial = fake.company()
    year = fake.year()
    precio = fake.random_number(digits=2)
    isbn = fake.isbn13()
    c.execute('''INSERT INTO Book(idBook,title,authors,publisher,year,price,isbn) VALUES (%s, "%s", "%s", "%s", %s, "%s", "%s");''' % (libro, titulo, autor, editorial, year, precio, isbn));

conn.commit()

c.close()

### Caso de la libreria española:

In [ ]:
conn = sqlite3.connect('LibreriaEspanola.db')
c = conn.cursor()

##borramos las tablas si estan previamente creadas
c.execute('''Drop  table if exists Publicacion''')
c.execute('''Drop  table if exists Persona''')
c.execute('''Drop  table if exists Rol''')
c.execute('''Drop  table if exists Persona_has_Publicacion''')

# Creamos la tabla
c.execute('''CREATE TABLE Publicacion
             (idPublicacion integer PRIMARY KEY, Titulo VARCHAR(245) not NULL, Editorial VARCHAR(45), Lengua VARCHAR(45)
             , FechaPublicacion DATE, Precio FLOAT);''')
c.execute('''CREATE TABLE Persona
             (idPersona integer PRIMARY KEY, Nombre VARCHAR(45), Apellido1 VARCHAR(45), Apellido2 VARCHAR(45)
             , FechaNacimiento DATE);''')
c.execute('''CREATE TABLE Rol
             (idRol integer PRIMARY KEY, rol VARCHAR(45));''')
c.execute('''CREATE TABLE Persona_has_Publicacion
             (Persona_idPersona integer, Publicacion_idPublicacion integer
             , Rol_idRol integer, foreign key (Persona_idPersona) references Persona(idPersona)
             , foreign key (Publicacion_idPublicacion) references Publicacion(idPublicacion)
             , foreign key (Rol_idRol) references Rol(idRol)
             , PRIMARY KEY (Persona_idPersona, Publicacion_idPublicacion));''')

conn.commit()

In [ ]:
##faker en español
fake = Faker('es_ES')

##insertamos informacion en la base de datos Publicacion(10 campos)
for b in range(1,21):
    public = b
    titulo = fake.sentence()
    editorial = fake.company()
    lengua = fake.language_code()
    fechaPub = fake.date(pattern="%Y-%m-%d") ##fecha aleatoria
    precio = fake.pyfloat(left_digits=2, right_digits=2, positive=True)
    c.execute('''INSERT INTO Publicacion(idPublicacion,Titulo,Editorial,Lengua,FechaPublicacion,Precio) VALUES (%s, "%s", "%s", "%s", "%s", "%s");''' % (public, titulo, editorial, lengua, fechaPub, precio));

##insertamos informacion en la base de datos Persona(10 campos)
for b in range(1,21):
    pers = b
    nombre = fake.name()
    ap1 = fake.last_name()
    ap2 = fake.last_name()
    fechaNacimiento = fake.date(pattern="%Y-%m-%d") ##fecha aleatoria
    c.execute('''INSERT INTO Persona(idPersona,Nombre,Apellido1,Apellido2,FechaNacimiento) VALUES (%s, "%s", "%s", "%s", "%s");''' % (pers, nombre, ap1, ap2, fechaNacimiento));

##insertamos informacion en la base de datos Rol(10 campos)
for b in range(1,21):
    irol = b
    rol = fake.job() ##trabajo dentro de la publicacion
    c.execute('''INSERT INTO Rol(idRol,rol) VALUES (%s, "%s");''' % (irol, rol));
    
    
##creo valores aleatorios entre 1 y 20 para los ids en la tabla intermedia
vect=range(1,21)
b1=random.sample(vect, 20)
b2=random.sample(vect, 20)
b3=random.sample(vect, 20)
    
##insertamos informacion en la base de datos Persona_has_Publicacion(10 campos)
for b in range(0,20):
    pers_id = b1[b]
    public_id = b2[b]
    rol_id = b3[b]
    c.execute('''INSERT INTO Persona_has_Publicacion(Persona_idPersona,Publicacion_idPublicacion,Rol_idRol) VALUES (%s, "%s", "%s");''' % (pers_id, public_id, rol_id));

conn.commit()

c.close()

In [ ]:
conn = sqlite3.connect('LibreriaGlobal.db')
c = conn.cursor()

##borramos la tabla si esta previamente creada
c.execute('''Drop  table if exists Libro''')
c.execute('''Drop  table if exists Autor''')
c.execute('''Drop  table if exists Autor_has_Libro''')
# Creamos la tabla
c.execute('''CREATE TABLE Libro
             (idLibro integer PRIMARY KEY, titulo VARCHAR(255) not NULL, editorial VARCHAR(45), fecha date
             , isbn VARCHAR(13) not NULL);''')
c.execute('''CREATE TABLE Autor
             (idAutor integer PRIMARY KEY, nombre VARCHAR(75));''')
c.execute('''CREATE TABLE Autor_has_Libro
             (Autor_idAutor integer, Libro_idLibro integer, foreign key (Autor_idAutor) references Autor(idAutor)
             , foreign key (Libro_idLibro) references Libro(idLibro),PRIMARY KEY(Autor_idAutor,Libro_idLibro));''')

conn.commit()

In [ ]:
##extriago los datos de la base de datos de la libreria britanica
conn = sqlite3.connect('LibreriaBritanica.db')
c = conn.cursor()

##consulta sobre todo los datos de la tabla
c.execute('''SELECT * FROM Book''')

##cojo toda la info de la base de datos y la guardo en la variable 
libBrit = c.fetchall()

c.close()

In [ ]:
##extriago los datos de la base de datos de la libreria britanica
conn = sqlite3.connect('LibreriaEspanola.db')
c = conn.cursor()

##consulta sobre todo los datos de la tabla Publicacion
c.execute('''SELECT * FROM Publicacion''')

##cojo toda la info de la base de datos y la guardo en la variable 
pubEsp = c.fetchall()

##consulta sobre todo los datos de la tabla Persona
c.execute('''SELECT * FROM Persona''')

##cojo toda la info de la base de datos y la guardo en la variable 
perEsp = c.fetchall()

##consulta sobre todo los datos de la tabla Persona
c.execute('''SELECT * FROM Rol''')

##cojo toda la info de la base de datos y la guardo en la variable 
rolEsp = c.fetchall()

##consulta sobre todo los datos de la tabla Publicacion
c.execute('''SELECT * FROM Persona_has_Publicacion''')

##cojo toda la info de la base de datos y la guardo en la variable 
perPubEsp = c.fetchall()

c.close()

In [ ]:
##insertamos datos de la libreria britanica sobre la global:

##base de datos global
conn = sqlite3.connect('LibreriaGlobal.db')
c = conn.cursor()

indLibro=0

##insertamos informacion en la tabla libro de la base de datos final
for b in range(0,len(libBrit)):
    book = indLibro ##index 
    title = libBrit[b][1] ##title
    publis = libBrit[b][3] ##publisher
    fech = None ##NULL no hay fecha
    isbn = libBrit[b][6] ##isbn
    c.execute('''INSERT INTO Libro(idLibro,titulo,editorial,fecha,isbn) VALUES (?, ?, ?, ?, ?);''' ,(book, title, publis, fech, isbn));
    indLibro+=1
conn.commit()

indAutor=0


##insertamos informacion en la tabla Autor de la base de datos final(No hay autores)
for b in range(0,len(libBrit)):
    autor = indAutor ##index 
    nomb = libBrit[b][3] ##nombre
    c.execute('''INSERT INTO Autor(idAutor,nombre) VALUES (?, ?);''' ,(autor, nomb));
    indAutor+=1
conn.commit()

indAmbos=0

##insertamos informacion en la tabla Autor_has_Libro de la base de datos final(No hay autores)
for b in range(0,len(libBrit)):
    idAut = indAmbos ##ind Autor
    idLibro = indAmbos ##ind Libro
    c.execute('''INSERT INTO Autor_has_Libro(Autor_idAutor,Libro_idLibro) VALUES (?, ?);''' ,(idAut, idLibro));
    indAmbos+=1
conn.commit()

c.close()

In [ ]:
##importamos datos libreria Española:
conn = sqlite3.connect('LibreriaGlobal.db')
c = conn.cursor()

##insertamos informacion en la tabla libro de la base de datos final
for b in range(0,len(pubEsp)):
    lib = indLibro ##index 
    titulo = pubEsp[b][1]
    edit = pubEsp[b][2] ##publisher
    fech = pubEsp[b][3] ##NULL no hay fecha
    isbn = 'no value' ##isbn no se puede NULL
    c.execute('''INSERT INTO Libro(idLibro,titulo,editorial,fecha,isbn) VALUES (?, ?, ?, ?, ?);''' ,(lib, titulo, edit, fech, isbn));
    indLibro+=1
conn.commit()

##insertamos informacion en la tabla Autor de la base de datos final(No hay autores)
for b in range(0,len(perEsp)):
    autor = indAutor ##index 
    nomb = perEsp[b][1] + ',' + perEsp[b][2]##nombre + apellido
    c.execute('''INSERT INTO Autor(idAutor,nombre) VALUES (?, ?);''' ,(autor, nomb));
    indAutor+=1
conn.commit()

##insertamos informacion en la tabla Autor_has_Libro de la base de datos final(No hay autores)
for b in range(0,len(perPubEsp)):
    idAut = indAmbos+perPubEsp[b][0]##ind Autor
    idLibro = indAmbos+perPubEsp[b][1]##ind Libro
    c.execute('''INSERT INTO Autor_has_Libro(Autor_idAutor,Libro_idLibro) VALUES (?, ?);''' ,(idAut, idLibro));
conn.commit()

c.close()